@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
$corFBotao: #fff;

*{
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;  
  a{
    text-decoration: none;
  }
  img{
    width: 100%;
  }
  h1,h2,h3,p,a{
    margin: 0;
    padding: 0;
  }
}

header{
  .principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(./assets/principal.jpg);
    background-size: cover;
    height: 60vh;
    h1{
      font-size: 5rem;
      color: $corFBotao
    }
    p{
      color: $corFBotao;
      font-size: 1.5rem;
      width: 60vw;      
    }
    a{
      background: #66BB6A;
      font-size: 1.75rem;
      padding: 10px 30px;
      border-radius: 1.5rem;
      color: #fff;
      margin-top: 20px;
    }
  }
}

.artigos{
  background: #f1f8e9;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  gap: 1rem;
  padding: 5rem 4rem;
  .card{
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 250px;
    height: 350px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    img{
      width: 100%;
      height: 28vh;
      object-fit: cover;
    }
    .card-content{
      display: grid;
      place-items: center;
      padding: 10px 10px;
      gap: px;
      text-align: center;
      p{
        font-size: 1rem;
      }
      h2{
        font-size: 1.3rem;
      }
      a{
        background: #66BB6A;
        color: #fff;
        padding: 10px 20px;
        border-radius: 15px;
      }
    }
  }
}

.formulario{
  background: #f4faf4;
  padding: 4rem ;
  display: grid;
  gap: 10px;
  text-align: center;
  form{
    display: grid;
    gap: 10px;
    place-items: center;
    width: 600px;
    margin: 0 auto;
    
  }
}
