@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
* a {
  text-decoration: none;
}
* img {
  width: 100%;
}
* h1, * h2, * h3, * p, * a {
  margin: 0;
  padding: 0;
}

header .principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/principal.jpg);
  background-size: cover;
  height: 60vh;
}
header .principal h1 {
  font-size: 5rem;
  color: #fff;
}
header .principal p {
  color: #fff;
  font-size: 1.5rem;
  width: 60vw;
}
header .principal a {
  background: #66BB6A;
  font-size: 1.75rem;
  padding: 10px 30px;
  border-radius: 1.5rem;
  color: #fff;
  margin-top: 20px;
}

.artigos {
  background: #f1f8e9;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  gap: 1rem;
  padding: 5rem 4rem;
}
.artigos .card {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 250px;
  height: 350px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.artigos .card img {
  width: 100%;
  height: 28vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.artigos .card .card-content {
  display: grid;
  place-items: center;
  padding: 10px 10px;
  gap: px;
  text-align: center;
}
.artigos .card .card-content p {
  font-size: 1rem;
}
.artigos .card .card-content h2 {
  font-size: 1.3rem;
}
.artigos .card .card-content a {
  background: #66BB6A;
  color: #fff;
  padding: 10px 20px;
  border-radius: 15px;
}

.formulario {
  background: #E8F5E9;
  padding: 4rem;
  display: grid;
  gap: 30px;
  text-align: center;
}
.formulario h3 {
  font-size: 2rem;
  color: #2A2A2A;
}
.formulario p {
  color: #767676;
  margin-bottom: 20px;
}
.formulario form {
  display: grid;
  gap: 10px;
  place-items: center;
}
.formulario input, .formulario select {
  padding: 20px;
  width: 40vw;
  border: none;
  border-radius: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
.formulario input::-moz-placeholder {
  font-size: 20px;
  color: #8E8E8E;
  text-align: center;
}
.formulario input::placeholder {
  font-size: 20px;
  color: #8E8E8E;
  text-align: center;
}
.formulario select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='20' viewBox='0 0 24 24' width='1' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 20px;
  cursor: pointer;
}
.formulario select option {
  background: white;
  color: #333;
  font-size: 1rem;
  padding: 10px;
}
.formulario select option::value {
  font-size: 30px;
}

.js-scroll {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: 0.3s;
}

.js-scroll.ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}/*# sourceMappingURL=style.css.map */