@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
header {
  border-bottom: solid 2px #4b5563;
  max-width: 90vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 810px) {
    flex-direction: column;
    padding-top: 20px;
  }
  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    h1 {
      font-size: 2rem;
    }
  }
  .menu {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0 15px 0;

    a {
      padding: 15px 15px;
      color: #4b5563;
      display: block;
    }
    li:last-child {
      background: #21c05c;
      border-radius: 10px;
      a {
        color: #fff;
      }
      @media (max-width: 810px) {
        margin-left: auto;
      }
      @media (max-width: 530px) {
        margin: 0 auto;
      }
    }
    @media (max-width: 810px) {
      width: 90vw;
    }
    @media (max-width: 530px) {
      justify-content: center;
    }
  }
}

.first {
  padding: 40px 0;
  max-width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  @media (max-width: 850px) {
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 20px 0;
  }
  h2 {
    font-size: 3.75rem;
    line-height: 1.2;
    @media (max-width: 600px) {
      font-size: 2.2rem;
    }
  }
  p {
    font-size: 1.25rem;
    color: #4b5563;
    padding-right: 30px;
    font-family: inter;
  }
  .first-content {
    height: 100%;
    display: grid;
    padding: 30px 0;
    gap: 30px;
    @media (max-width: 600px) {
      text-align: center;
      justify-items: center;
    }
    .btn-content {
      display: flex;
      align-items: center;
      gap: 20px;
      @media (max-width: 400px) {
        gap: 5px;
      }
      button {
        display: flex;
        align-items: center;
        padding: 15px 20px;
        background-color: #16a34a;
        gap: 10px;
        color: #fff;
        border: none;
        border-radius: 10px;
        @media (max-width: 400px) {
          padding: 10px 15px;
          gap: 2px;
        }
      }
      .btn-adquirir {
        background-color: #fff;
        color: #2563eb;
        border: solid 2px #2563eb;
        padding: 15px 15px;
        @media (max-width: 400px) {
          padding: 10px 10px;
        }
      }
    }
  }
  .imagem {
    max-width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
}

.numeros {
  background-color: #f3f5f8;
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 30px 0;
  gap: 10px;
  article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  p {
    color: #4b5563;
  }
  .resultado {
    font-size: 2.5rem;
    color: #16a34a;
    font-weight: 700;

    @media (max-width: 560px) {
      font-size: 1.5rem;
    }
  }
}

.como-funciona {
  max-width: 80vw;
  margin: 0 auto;
  padding: 70px 0;
  @media(max-width: 500px ){
    max-width: 90vw;
  }
}
.titulo {
  font-size: 2.5rem;
  font-weight: 700;
}
.subtitulo {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  color: #4B5563;
  padding: 30px 0;
}
.second-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 40px;
  @media (max-width: 950px) {
    grid-template-columns: 1fr;
  }
  .card {
    padding: 50px 30px;
    background: #f3f5f8;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 440px;
    @media (max-width: 500px) {
      padding: 20px 20px;
    }
    h4 {
      font-size: 1.6rem;
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 400;
      height: 60px;
      @media (max-width: 500px) {
        font-size: 1.3rem;
        height: auto;
      }
    }
    p {
      color: #4b5563;
      padding: 30px 0;
    }
    .container-definition {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;
      flex-grow: 1;
    }
    .atr-container {
      display: flex;
      gap: 10px;
      align-items: center;
      span {
        border: solid;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        text-align: center;
      }
    }
    dt {
      color: #09090b;
      font-weight: 700;
      font-size: 1rem;
    }
    &--doadores {
      h4 {
        color: #16a34a;
      }
      span {
        color: #fff;
        background: #16a34a;
      }
    }
    &--adquirentes {
      h4 {
        color: #2563eb;
      }
      span {
        color: #fff;
        background: #2563eb;
      }
    }
  }
}

.produtos-disponiveis{
  background: #F3F5F8;
}
.produtos-container{
  max-width: 80vw;
  margin: 0 auto;
  padding: 50px 0;

}
.card-Container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;  
  padding: 30px 0;
  .card-p{
    border: solid 2px #21c05c;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    max-width: 350px;
    // flex-wrap: wrap;
    // justify-content: center;
    div{
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      justify-content: space-between;
      padding: 20px 10px;
      height: 100%;
    }
    img{
      max-width: 100%;
      display: block;
    }
    h4{
      font-family: inter;
      font-weight: 400;
      font-size: 1.25rem;
      color: #09090B;
    }
    button{
      background: #16a34a;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      font-size: 0.85rem;
    }
    p{
      color: #4B5563;
    }
  }
}

// https://www.figma.com/design/INr6aFPBtyoln3RR26U7Jq/A%C3%A7%C3%A3o-verde---Desafio?node-id=0-1&p=f&t=CMFWxeuDkmYywXV2-0
