@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
header {
  border-bottom: solid 2px #4b5563;
  max-width: 90vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 810px) {
    flex-direction: column;
    padding-top: 20px;
  }
  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    h1 {
      font-size: 2rem;
    }
  }
  .menu {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0 15px 0;

    a {
      padding: 15px 15px;
      color: #4b5563;
      display: block;
    }
    li:last-child {
      background: #21c05c;
      border-radius: 10px;
      a {
        color: #fff;
      }
      @media (max-width: 810px) {
        margin-left: auto;
      }
      @media (max-width: 530px) {
        margin: 0 auto;
      }
    }
    @media (max-width: 810px) {
      width: 90vw;
    }
    @media (max-width: 530px) {
      justify-content: center;
    }
  }
}

.first {
  padding: 40px 0;
  max-width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  @media (max-width: 850px) {
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 20px 0;
  }
  h2 {
    font-size: 3.75rem;
    line-height: 1.2;
    @media (max-width: 600px) {
      font-size: 2.2rem;
    }
  }
  p {
    font-size: 1.25rem;
    color: #4b5563;
    padding-right: 30px;
    font-family: inter;
  }
  .first-content {
    height: 100%;
    display: grid;
    padding: 30px 0;
    gap: 30px;
    @media (max-width: 600px) {
      text-align: center;
      justify-items: center;
    }
    .btn-content {
      display: flex;
      align-items: center;
      gap: 20px;
      @media (max-width: 400px) {
        gap: 5px;
      }
      button {
        display: flex;
        align-items: center;
        padding: 15px 20px;
        background-color: #16a34a;
        gap: 10px;
        color: #fff;
        border: none;
        border-radius: 10px;
        @media (max-width: 400px) {
          padding: 10px 15px;
          gap: 2px;
        }
      }
      .btn-adquirir {
        background-color: #fff;
        color: #2563eb;
        border: solid 2px #2563eb;
        padding: 15px 15px;
        @media (max-width: 400px) {
          padding: 10px 10px;
        }
      }
    }
  }
  .imagem {
    max-width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
}

.numeros {
  background-color: #f3f5f8;
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 30px 0;
  gap: 10px;
  article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  p {
    color: #4b5563;
  }
  .resultado {
    font-size: 2.5rem;
    color: #16a34a;
    font-weight: 700;
    @media (max-width: 560px) {
      font-size: 1.5rem;
    }
  }
}

//https://www.figma.com/design/INr6aFPBtyoln3RR26U7Jq/A%C3%A7%C3%A3o-verde---Desafio?node-id=0-1&p=f&t=CMFWxeuDkmYywXV2-0
